WebContent/WEB-INF/xsd/CustomDataGrid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://amdocs.com/flex/dashboard/customDataGrid/CustomDataGrid"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   xmlns:tn="http://amdocs.com/flex/dashboard/customDataGrid/CustomDataGrid"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           jxb:version="2.0">

  <xs:complexType name="CustomDataGrid">
    <xs:sequence>
      <xs:element ref="tn:Column" maxOccurs="unbounded">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property name="columns" />
			</xs:appinfo>
		</xs:annotation>
      </xs:element>
      <xs:element ref="tn:GroupedColumns" minOccurs="0" maxOccurs="1">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property name="groupedColumns" />
			</xs:appinfo>
		</xs:annotation>
      </xs:element>
      <!--<xs:element ref="tn:ColumnFilters" minOccurs="0" maxOccurs="1"/>-->
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="title" type="xs:string" />
    <xs:attribute name="version" type="xs:int" />
    <xs:attribute name="allowLockedColumnChange" type="xs:boolean" />
    <xs:attribute name="allowShowFooterChange" type="xs:boolean" />
    <xs:attribute name="lockedColumnCount" type="xs:int" />
    <xs:attribute name="showFooter" type="xs:boolean" />
    <xs:attribute name="showFilters" type="xs:boolean" />

	<xs:attribute name="defaultItemRenderer" default="com.amdocs.dashboard.customDataGrid.CustomDataGridItemRenderer">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:annotation>
					<xs:documentation>
						<!-- suggested values -->
						<xs:enumeration value="com.amdocs.dashboard.customDataGrid.CustomDataGridItemRenderer" />
						<xs:enumeration value="mx.controls.advancedDataGridClasses.AdvancedDataGridItemRenderer" />
					</xs:documentation>
				</xs:annotation>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="defaultItemEditor" default="com.amdocs.dashboard.customDataGrid.CustomDataGridItemEditor">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:annotation>
					<xs:documentation>
						<!-- suggested values -->
						<xs:enumeration value="com.amdocs.dashboard.customDataGrid.CustomDataGridItemEditor" />						
					</xs:documentation>
				</xs:annotation>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
  </xs:complexType> 
  
  <xs:element name="CustomDataGrid" type="tn:CustomDataGrid" />
  
  <xs:complexType name="GroupedColumns">
  	<xs:sequence>
      <xs:element ref="tn:Column" maxOccurs="unbounded"/>
    </xs:sequence> 
    <xs:attribute name="label" type="xs:string" />
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="exportOnly" type="xs:boolean" default="true" />
  </xs:complexType>
  
  <xs:element name="GroupedColumns" type="tn:GroupedColumns" />
  
  <xs:complexType name="Column">
    
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="dataField" type="xs:string" />
    <xs:attribute name="dataTipField" type="xs:string" />
    
    <xs:attribute name="headerLabel" type="xs:string" />
    <xs:attribute name="headerWordWrap" type="xs:boolean" />
    
    <xs:attribute name="type" default="string">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="string"/>
          <xs:enumeration value="checkbox"/>
          <xs:enumeration value="currency"/>
          <xs:enumeration value="date"/>
          <xs:enumeration value="datetime"/>
          <xs:enumeration value="datestring"/>
          <xs:enumeration value="number"/>
          <xs:enumeration value="percent"/>
          <xs:enumeration value="phone"/>
          <xs:enumeration value="zipcode"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    
    <xs:attribute name="locked" type="xs:boolean" />    
    <xs:attribute name="key" type="xs:boolean" />
    
    <xs:attribute name="securityProfile">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:annotation>
					<xs:documentation>
					Comma delimited list of security profiles needed
					to see this column
					</xs:documentation>
				</xs:annotation>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	
	<xs:attribute name="itemRenderer" default="com.amdocs.dashboard.customDataGrid.CustomDataGridItemRenderer">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:annotation>
					<xs:documentation>
						<!-- suggested values -->
						<xs:enumeration value="com.amdocs.dashboard.customDataGrid.CustomDataGridItemRenderer" />
						<xs:enumeration value="mx.controls.advancedDataGridClasses.AdvancedDataGridItemRenderer" />
					</xs:documentation>
				</xs:annotation>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
    <xs:attribute name="itemRendererSecurityProfile">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:annotation>
					<xs:documentation>
					Comma delimited list of security profiles needed 
					to use the itemRenderer for this column
					</xs:documentation>
				</xs:annotation>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>

    <xs:attribute name="itemEditor" default="com.amdocs.dashboard.customDataGrid.CustomDataGridItemRenderer">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:annotation>
					<xs:documentation>
						<!-- suggested values -->
						<xs:enumeration value="com.amdocs.dashboard.customDataGrid.CustomDataGridItemRenderer" />
						<xs:enumeration value="mx.controls.CheckBox" />
						<xs:enumeration value="mx.controls.ComboBox" />
						<xs:enumeration value="mx.controls.DateField" />
						<xs:enumeration value="mx.controls.TextArea" />
						<xs:enumeration value="mx.controls.TextInput" />
					</xs:documentation>
				</xs:annotation>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="itemEditorSecurityProfile">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:annotation>
					<xs:documentation>
					Comma delimited list of security profiles needed 
					to use the itemEditor for this column
					</xs:documentation>
				</xs:annotation>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	
	<xs:attribute name="useItemEditorAsItemRenderer">
		<xs:simpleType>
			<xs:restriction base="xs:boolean">
				<xs:annotation>
					<xs:documentation>
					If true, itemEditor will be used as itemRenderer.  
					This is useful for cases when you want to specific 
					an input element (like checkbox or dropdown list) 
					to always display on the screen and not require the 
					user to click on the cell
					</xs:documentation>
				</xs:annotation>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	
	
	<xs:attribute name="headerItemRenderer" default="mx.controls.advancedDataGridClasses.AdvancedDataGridHeaderRenderer">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:annotation>
					<xs:documentation>
						<!-- suggested values -->
						<xs:enumeration value="com.amdocs.dashboard.customDataGrid.renderers.CustomDataGridHeaderFilterRenderer" />
						<xs:enumeration value="mx.controls.advancedDataGridClasses.AdvancedDataGridHeaderRenderer" />
					</xs:documentation>
				</xs:annotation>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
    
    <xs:attribute name="click" type="xs:string" />
    
    <xs:attribute name="visible" default="true">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="always"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    
    <xs:attribute name="footerType">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="currency"/>
          <xs:enumeration value="number"/>
          <xs:enumeration value="percent"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute> 
    <xs:attribute name="footerFunction">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="avg"/>
          <xs:enumeration value="count"/>
          <xs:enumeration value="sum"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="footerLabel" type="xs:string" />
    <xs:attribute name="currencySymbol" type="xs:string" default="$" />
    <xs:attribute name="decimalSeparator" type="xs:string" default="," />
    <xs:attribute name="digitTypes" type="xs:string" />
    <xs:attribute name="errorText" type="xs:string" />
    <xs:attribute name="fractionalDigits" type="xs:int" default="-1" />
    <xs:attribute name="groupingPattern" type="xs:string" />
    <xs:attribute name="groupingSeparator" type="xs:string" default="," />
    <xs:attribute name="leadingZero" type="xs:boolean" />
    <xs:attribute name="negativeCurrencyFormat" type="xs:int" />
    <xs:attribute name="negativeSymbol" type="xs:string" />
    <xs:attribute name="positiveCurrencyFormat" type="xs:int" />
    <xs:attribute name="trailingZeros" type="xs:boolean" />
    <xs:attribute name="useGrouping" type="xs:boolean" default="true" />
    <xs:attribute name="includeInExport" type="xs:boolean" default="true" />
    <xs:attribute name="dateTimePattern" type="xs:string" />
    
    <!-- NumericStepper specific attributes -->
    <xs:attribute name="minimum" type="xs:decimal" />
    <xs:attribute name="maximum" type="xs:decimal" />
    <xs:attribute name="maxChars" type="xs:int" />
    <xs:attribute name="stepSize" type="xs:decimal" />
    <xs:attribute name="snapInterval" type="xs:decimal" />
    
        
    <xs:attribute name="textAlign">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="center"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  	<xs:attribute name="truncateToFit">
		<xs:simpleType>
			<xs:restriction base="xs:boolean">
				<xs:annotation>
					<xs:documentation>
					If true, then text longer than the width of the column
					will be truncated with ellipse (...).  Set to false for columns
					with very large values (like multi-line comments) so they render
					more quickly.
					See https://issues.apache.org/jira/browse/FLEX-23962
					</xs:documentation>
				</xs:annotation>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
    
  	<xs:attribute name="width" type="xs:int" />
  	<xs:attribute name="widthInChars" type="xs:int" />
  	<xs:attribute name="heightInLines" type="xs:int" />
  	<xs:attribute name="editable" type="xs:boolean" />
  	<xs:attribute name="size" type="xs:int" />
  	<xs:attribute name="required" type="xs:boolean" />
    <xs:attribute name="domainCode" type="xs:string" />
    <xs:attribute name="formField" type="xs:string" />
  	<xs:attribute name="formType" default="Label">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CheckBox"/>
          <xs:enumeration value="ComboBox"/>
          <xs:enumeration value="DateField"/>
          <xs:enumeration value="DropDownList"/>
          <xs:enumeration value="Employee"/>
          <xs:enumeration value="Label"/>
          <xs:enumeration value="NumericStepper"/>
          <xs:enumeration value="RadioButton"/>
          <xs:enumeration value="SLVFormElement"/>
          <xs:enumeration value="TextInput"/>
          <xs:enumeration value="TextArea"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="formGroup" type="xs:string" />
  	<xs:attribute name="filterable" type="xs:boolean" />
  	
    <xs:attribute name="sortable">
		<xs:simpleType>
			<xs:restriction base="xs:boolean">
				<xs:annotation>
					<xs:documentation>
					Defines specifies whether column is sortable for async data grid
					</xs:documentation>
				</xs:annotation>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	
    <xs:attribute name="relatedColumns">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:annotation>
					<xs:documentation>
					Comma delimited list of dataFields of other columns to select
					whem selecting columns from backend (mainly for item renderers)
					</xs:documentation>
				</xs:annotation>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	
    <xs:attribute name="relatedGroupColumns">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:annotation>
					<xs:documentation>
					Comma delimited list of dataFields of other columns to select
					whem selecting columns from backend (mainly for item renderers)
					</xs:documentation>
				</xs:annotation>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	
  </xs:complexType>
  
  <xs:element name="Column" type="tn:Column" />
  
</xs:schema>